/classes/
/test-classes/
/target
.classpath
.project
settings/
.idea/
*.iml
jpa/src/test/
mybatis-xml/src/test/
mybatis/src/test/
jdbc/target/
mybatis-xml/target/
mybatis/target/
jpa/target/
helloworld/target/
logging/target/
